.icon-product-item img{
    width: 120px;
    
}
.icon-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-product{
    display: flex;
    justify-content: space-between;
    padding:2rem 0 2rem 0;
    flex-wrap: wrap;
}
.icon-product-item span{
    margin-top: 20px;
}
.text-practice{
    background-color: var(--text-yellow);
    color: white;
    padding: 8px;
    border-radius: 5px;
} 
.g-container{
    padding: 1.5rem;
}
.icon-product span{
    color: #000000;
    font-weight: 450;
}
@media(max-width:767px) {
    .icon-product-item img{
        width: 50%;
        
    }
    .icon-product-item span{
        text-align: center;
    }
    .g-container{
        padding: 1rem;
    }
    .icon-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 1rem !important;
  }
  .icon-product-item {
    justify-self: center;
    width: 100%;
    text-align: center;
  }
}