.icon-product-item img{
    width: 100px;
    
}
.icon-product-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-product{
    display: flex;
    justify-content: space-between;
    padding:2rem 0 2rem 0;
    
}
.icon-product-item span{
    margin-top: 20px;
}
.text-practice{
    background-color: var(--text-yellow);
    color: white;
    padding: 8px;
    border-radius: 5px;
} 
.g-container{
    padding: 1.5rem;
}
@media(max-width:767px) {
    .icon-product-item img{
        width: 40px;
        
    }
    .icon-product-item span{
        text-align: center;
    }
    .g-container{
        padding: 1rem;
    }
}