.inner-container{
    gap: 1.5rem;
    background: var(--green-button);
    border-radius: 10px;
    border: 5px solid rgb(232 232 232 / 93%);
    padding: 2rem;
}
.inner-container .primaryText{
    color: #fff;
    font-weight: 600;
    text-align: center;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}
.inner-container .button{
    background-color: #058741;
    border: 2px solid #fff;
    box-shadow: var(--shadow);
    border-radius: 10px;
}
.text{
    align-items: center;
    text-align: center;
}