.u-container{
    background-color:var(--bg-white);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.text-more{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--green-button);
    border-radius: 18px;
    padding:8px 24px;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.text-more:hover {
    background-color: var(--green-button);
}

.text-more:hover .view-more {
    color: #fff;
    background-color: transparent; 
}

.text-more:hover .icon-more {
    color: #fff;
}
.icon-more{
    font-size: 1.2rem;
    color: var(--green-button);
    display: inline-flex;
}

.text-about{
    color: var(--green-button) !important;
    text-align: center;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}
.slogantext{
    text-align: center;
}
.img-value{
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-value img{
    object-fit:cover;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.view-more{
    color: var(--green-button);
    font-size: 0.9rem;

}
@media (max-width: 767px) {
    .img-value img{
        height: 100%;
    }
}