.r-container{
    overflow: hidden;
    position: relative;
    border-radius: 15px;
    padding: 120px 0;
}
.r-container-s{
    background-color: #f7f7f7;
}
.r-head{
    margin-bottom: 2.5rem;
    align-items: center;
}
.r-head span:nth-child(1){
    color: var(--green-button);
    font-size: 2rem;
    font-weight: 700;
}
.r-card{
    gap: 0.3rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    transition: all 300ms ease-in;
    min-width: 0;
    width: 100%;;
}
.r-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}
.r-card>:nth-child(2){
    font-size: 0.9rem;
    font-weight: 600;
}
.r-card>:nth-child(3){
    font-size: 1.2rem;
}
.r-card>:nth-child(4){
    font-size: 0.9rem;
    width: 25rem;
}

.swiper-horizontal{
    overflow: visible;
}
.r-buttons{
    position: absolute;
    top: -4rem;
    right: 0;
}
.r-buttons button{
    font-size: 1.2rem;
    padding: 0.2rem 0.8rem;
    color: var(--green-button);
    border-radius: 5px;
    margin: 5px;
    background-color: white;
    cursor: pointer;
    border: none;

}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.r-card-view-more{
    margin-top: 50%;
  cursor: pointer;
}
.r-buttons>:nth-child(1){
    background-color: #dcf0e5;
    font-family: "Poppins", sans-serif;
}
.r-buttons>:nth-child(2){
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    font-family: "Poppins", sans-serif;
}

.view-more-button{
    cursor: pointer;
    color: blue;
}
.r-card-img-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  
}
.r-card-info {
  position: absolute;
  left: 0; right: 0; bottom: 0;
  background: rgba(255,255,255,0.95);
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
    transition: all 300ms ease-in ,visibility 300ms;
}

.r-title {
  font-weight: 700;
  font-size: 20px;
}
.r-size, .r-price {
  color: #009B50;
  font-weight: 500;
  text-align: start;
}

@media (max-width:767px) {
    .r-head{
        align-items: center;
    }
    .r-buttons{
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }
    
    .r-card>:nth-child(4){
        font-size: 0.6rem;
    }
    .r-card img{
        height: 180px;
        border-radius: 0px;
    }
    .r-card{
        padding: 0px;
    }
    .r-card-banner{
        overflow: hidden;
    }
    .r-container{
        padding: 60px 0;
    }
    
}
@media ( min-width:768px) and (max-width:1024px){
    /* .r-card>:nth-child(2){
        font-size:0.7rem;
    }
    .r-card>:nth-child(4){
        font-size: 0.6rem;
    } */
    .r-container{
        padding: 80px 0;
    }
    .r-head span:nth-child(1){
        font-size: 1.7rem;
    }
}
