.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 125px;
  }
  .product-item {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
  }
  
  .product-item img {
    max-width: 100%;
    border-radius: 4px;
  }
.r-card-product{
  width: 25%;
  overflow: hidden;
}
@media (max-width: 640px){
  .r-card-product{ 
    width: 100%;
    padding: 26px;
  }
}
