
.v-container>div{
    flex: 1;
}
.v-right{
    gap: 0.5rem;
}
.accordion{
    margin-top: 2rem;
    border: none;
}.accordionItem{
    background-color: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionItem .expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}
.accordionButton{
    background-color: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}
.v-left,.v-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.img-container-value{
    width: 100vw;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container-value img{
    width: 100vw;
    height: 100vh;
    filter: brightness(60%);
    object-fit: cover;
}
.textslogan{
    position: absolute;
    color: #fff;
    font-size: 2rem;
}
.textslogan h1{
    font-size: 2.5rem;
    font-weight: 900;
}
.textslogan p{
    font-size: 1.25rem;
    margin-top: 7px;
    color: #fff;
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}
@media (max-width:1024px) {
    .v-container{
        flex-direction: column;
    }
    @media (max-width:768px) {
        .accordionButton .primaryText{
            font-size: 1rem;
        }
        .textslogan h1{
            font-size: 2rem;
            font-weight: 900;
        }
        .textslogan p{
            font-size: 1rem;
        }
        
    }
}
